*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    margin:0;
    height:100vh;
    background:linear-gradient(
        180deg,
        #2e0415 0%,
        #370303 18%,
        hsl(351, 100%, 11%) 35%,
        #29191d 65%,
        #101116 85%,
        #0b0b11 100%
    );
}

header{
    position:sticky;
    top:0;
    width:100%;
    height:85px;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:0 60px;

    background:rgba(55, 1, 1, 0);

    backdrop-filter:blur(15px);

    border-bottom:1px solid rgba(255,255,255,.15);

    z-index:1000;
}

.logo img{
    width:70px;
    border-radius:10px;
}

nav{
    display:flex;
    gap:45px;
}

nav a{
    text-decoration:none;
    color:white;
    font-size:18px;
    font-weight:500;
    position:relative;
    transition:.3s;
}

nav a::after{
    content:'';
    position:absolute;
    left:0;
    bottom:-8px;
    width:0%;
    height:3px;

    background:linear-gradient(90deg,#8d77b1,#8d47b5);

    border-radius:10px;

    transition:.4s;
}

nav a:hover{
    color:#ff4da6;
}

nav a:hover::after{
    width:100%;
}

.icons{
    display:flex;
    gap:25px;
}

.icons i{
    color:white;
    font-size:20px;
    cursor:pointer;
    transition:.3s;
}

.icons i:hover{
    color:#360233;
    transform:translateY(-3px);
}